@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animateInRight {
  from {
    opacity: 0;
    transform: translateX(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animateInLeft {
  from {
    opacity: 0;
    transform: translateX(8px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animateOutLeft {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-8px);
  }
}

@keyframes animateOutRight {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(8px);
  }
}

@keyframes Spin {
  100% {
    transform: rotate(1turn);
  }
}

.animate-in {
  animation: animateIn 0.2s cubic-bezier(0, 0, 0, 1) forwards;
}

.animate-in-right {
  animation: animateInRight 0.2s cubic-bezier(0, 0, 0, 1) forwards;
}

.animate-in-left {
  animation: animateInLeft 0.2s cubic-bezier(0, 0, 0, 1) forwards;
}

.animate-out-left {
  animation: animateOutLeft 0.2s cubic-bezier(0, 0, 0, 1) forwards;
}

.animate-out-right {
  animation: animateOutRight 0.2s cubic-bezier(0, 0, 0, 1) forwards;
}
