@import './utilities.scss';
@import './typography.scss';
@import './themes.scss';
@import './animations.scss';
@import './variables.scss';

.dui,
.dui * {
  box-sizing: border-box;
}

.dui {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a.dui {
  font-size: inherit;
  font-family: $font-family-base;
  outline: 0;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  line-height: inherit;
}

button.dui {
  box-shadow: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: $font-family-base;
}

ul.dui {
  padding-left: 0;
}

ul.dui,
li.dui,
.item.dui {
  list-style: none;
}
