.dui::placeholder,
.placeholder.dui {
  color: rgb(190, 190, 190);
}

a.dui,
.link.dui {
  color: #2047c7;
}

.text-color-green.dui {
  color: rgb(36, 158, 36);
}

.text-color-red.dui {
  color: rgb(212, 48, 48);
}
