@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

h1.dui,
h2.dui,
h3.dui,
h4.dui,
h5.dui,
ol.dui,
ul.dui,
li.dui {
  margin-top: 0;
  margin-bottom: 0.7em;
}

p.dui {
  margin-bottom: 8px;
  margin-top: 0;
}

h1.dui {
  font-size: 32px;
}

h2.dui {
  font-size: 28px;
}

h3.dui {
  font-size: 24px;
}

h4.dui,
h5.dui {
  font-size: 18px;
  font-weight: 800;
}

p.dui,
li.dui,
a.dui,
pre.dui {
  line-height: 1.6em;
}

ul.dui {
  padding-left: 36px;
}

h1.dui,
h2.dui,
h3.dui,
h4.dui {
  font-weight: 800;
  color: #222;
}

pre.dui {
  font-family: $font-family-base;
  white-space: pre-wrap;
}

.dui {
  &.text-xs {
    font-size: 12px;
  }

  &.text-sm {
    font-size: 14px;
  }

  &.text-base {
    font-size: 16px;
  }

  &.text-lg {
    font-size: 18px;
  }

  &.text-xl {
    font-size: 20px;
  }
}
