.dui {
  &.display-flex {
    display: flex;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-flex-start {
    align-items: flex-start;
  }

  &.align-items-flex-end {
    align-items: flex-end;
  }

  &.align-items-baseline {
    align-items: baseline;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-direction-row {
    flex-direction: row;
  }

  &.flex-direction-column {
    flex-direction: column;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-space-between {
    justify-content: space-between;
  }

  &.justify-content-flex-end {
    justify-content: flex-end;
  }

  &.justify-content-flex-end {
    justify-content: flex-end;
  }

  &.flex-direction-column {
    flex-direction: column;
  }

  &.m-0 {
    margin: 0;
  }

  &.m-0-md {
    @media all and (max-width: 1136px) {
      margin: 0;
    }
  }

  &.mr-4 {
    margin-right: 4px;
  }

  &.mr-8 {
    margin-right: 8px;
  }

  &.mr-16 {
    margin-right: 16px;
  }

  &.mr-24 {
    margin-right: 24px;
  }

  &.mr-32 {
    margin-right: 32px;
  }

  &.mt-0 {
    margin-top: 0;
  }

  &.mt-8 {
    margin-top: 8px;
  }

  &.mt-16 {
    margin-top: 16px;
  }

  &.mt-24 {
    margin-top: 24px;
  }

  &.mt-32 {
    margin-top: 32px;
  }

  &.mt-36 {
    margin-top: 36px;
  }

  &.mt-40 {
    margin-top: 40px;
  }

  &.mt-140 {
    margin-top: 140px;
  }

  &.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &.mb-0 {
    margin-bottom: 0;
  }

  &.mb-8 {
    margin-bottom: 8px;
  }

  &.mb-16 {
    margin-bottom: 16px;
  }

  &.mb-24 {
    margin-bottom: 24px;
  }

  &.mb-32 {
    margin-bottom: 32px;
  }

  &.p-8 {
    padding: 8px;
  }

  &.p-24 {
    padding: 24px;
  }

  &.pt-80 {
    padding-top: 80px;
  }

  &.pb-220 {
    padding-bottom: 220px;
  }

  &.pb-80 {
    padding-bottom: 80px;
  }

  &.pl-0 {
    padding-left: 0;
  }

  &.pr-24 {
    padding-right: 24px;
  }

  &.ml-4 {
    margin-left: 4px;
  }

  &.ml-8 {
    margin-left: 8px;
  }

  &.ml-16 {
    margin-left: 16px;
  }

  &.ml-32 {
    margin-left: 32px;
  }

  &.text-center {
    text-align: center;
  }

  &.text-large {
    font-size: 18px;
  }

  &.text-color-gray {
    color: gray;
  }

  &.italic {
    font-style: italic;
  }

  &.w-100 {
    width: 100%;
  }

  &.h-100 {
    height: 100%;
  }

  &.max-w-50 {
    max-width: 50%;
  }

  &.grid-offset-left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  &.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }

  &.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &.grid-small {
    display: grid;
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: repeat(2, 95px);
  }

  &.gap-24 {
    gap: 24px;
  }

  &.gap-32 {
    gap: 32px;
  }

  &.gap-36 {
    gap: 36px;
  }

  &.overflow-hidden {
    overflow: hidden;
  }

  &.hidden {
    visibility: hidden;
  }

  &.sticky {
    position: sticky;

    &.sticky-top {
      top: 0;
    }
  }

  &.position-relative {
    position: relative;
  }

  &.no-wrap {
    white-space: nowrap;
  }

  &.bg-gray {
    background: #e9e9e9;
  }

  &.border-radius {
    border-radius: 6px;
  }
}
