<script lang="ts" setup>
import { ref, watch } from 'vue';
import Select from './Select.vue';
import states from '../utils/states';

interface Props {
  value?: {
    addressLine1: string;
    addressLine2: string;
    cityLocality: string;
    stateProvince: string;
    postalCode: string;
    countryCode: string;
  };
  placeholder?: string;
}

interface Emits {
  (event: 'input', value: Props['value']): void;
}

const emit = defineEmits<Emits>();
const props = withDefaults(defineProps<Props>(), {
  value: () => ({
    addressLine1: '',
    addressLine2: '',
    cityLocality: '',
    stateProvince: '',
    postalCode: '',
    countryCode: 'US',
  }),
  placeholder: 'Select one',
});

const valueRef = ref(props.value);

watch(
  () => props.value,
  (value) => (valueRef.value = value),
  { immediate: true },
);

function updateParent() {
  const { postalCode, countryCode, addressLine2, addressLine1, stateProvince, cityLocality } =
    valueRef.value;

  emit('input', {
    addressLine1,
    addressLine2,
    cityLocality,
    stateProvince,
    postalCode,
    countryCode,
  });
}
</script>

<template>
  <div>
    <Input
      type="text"
      class="dui mb-16"
      v-model="valueRef.addressLine1"
      name="addressLine1"
      label="Address line 1"
      required
      @input.prevent="updateParent"
    />
    <Input
      type="text"
      class="dui mb-16"
      v-model="valueRef.addressLine2"
      name="addressLine2"
      label="Address line 2"
      @input.prevent="updateParent"
    />
    <Input
      type="text"
      class="dui mb-16"
      v-model="valueRef.cityLocality"
      name="cityLocality"
      label="City"
      required
      @input.prevent="updateParent"
    />
    <Select
      id="stateProvince"
      class="dui mb-16"
      name="state"
      label="State"
      :placeholder="placeholder"
      v-model="valueRef.stateProvince"
      :options="states"
      @input="updateParent"
    ></Select>
    <Input
      type="text"
      class="dui mb-16"
      v-model="valueRef.postalCode"
      name="postalCode"
      label="Zip Code"
      required
      @input.prevent="updateParent"
    />
  </div>
</template>
