<script lang="ts" setup>
interface Props {
  variant?: string | 'danger';
  text: string;
}

withDefaults(defineProps<Props>(), {
  variant: '',
});
</script>

<template>
  <div class="alert dui display-flex justify-content-space-between" :class="variant">
    <div class="dui display-flex align-items-center">
      <div class="dui display-flex justify-content-center align-items-center flex-shrink-0">
        <slot></slot>
      </div>
      <span>{{ text }}</span>
    </div>
    <slot name="button"></slot>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.alert {
  padding: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-family: $font-family-base;

  &.danger {
    background: rgb(189, 38, 38);
    color: white;
    fill: white;
  }

  &.update {
    background: transparent;
    color: inherit;
    fill: green;
  }

  &.button {
    background: white;
    color: black;

    &:hover {
      background: rgb(245, 245, 245);
    }
  }
}
</style>
