<script lang="ts" setup>
import { PhUser } from '@phosphor-icons/vue';

interface Props {
  img?: string;
  size?: string;
}

withDefaults(defineProps<Props>(), {
  img: '',
  size: '24',
});
</script>

<template>
  <div class="avatar" :class="`size-${size}`">
    <slot></slot>

    <div v-if="!img">
      <PhUser :size="size" />
    </div>

    <img v-else :src="img" alt="Profile image" />
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: $font-family-base;

  .upload-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background: black;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.size-80 {
    height: 80px;
    width: 80px;
  }
}
</style>
