<script setup lang="ts">
interface Props {
  text: string;
  variant: string;
}

defineProps<Props>();
</script>

<template>
  <div class="badge" :class="variant">
    <span>{{ text }}</span>
    <slot name="icon-right"></slot>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.badge {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.1);
  color: #222;
  line-height: 1;
  min-height: 24px;
  min-width: 24px;
  font-family: $font-family-base;
  padding: 4px 8px;

  &.large {
    font-size: inherit;
    padding: 16px;
    border-radius: 1000px;
    color: white;

    &.removable {
      padding: 8px 8px 8px 16px;

      .button {
        border-radius: 1000px;
        color: white;
      }
    }
  }

  &.stage {
    color: white;

    &.start {
      background: rgb(88, 173, 88);
    }

    &.grow {
      background: rgb(119, 52, 206);
    }

    &.advance {
      background: rgb(8, 144, 207);
    }
  }

  &.large {
    background: gray;
  }

  &.in-progress {
    background: #fb9171;
    color: white;
  }
}
</style>
