<script lang="ts" setup>
interface Props {
  href?: string;
  text?: string;
  variant?: string;
  size?: string;
  icon?: string;
}

withDefaults(defineProps<Props>(), {
  href: '',
  text: '',
  variant: '',
  size: '',
  icon: '',
});

const emit = defineEmits(['click']);
</script>

<template>
  <a
    v-if="href"
    :href="href"
    class="dui button"
    :class="[variant, size]"
    @click.prevent="emit('click')"
  >
    <slot name="left-icon"></slot>
    <slot></slot>
    {{ text }}
    <slot name="right-icon"></slot>
  </a>

  <button v-else class="dui" :class="[variant, size]" v-bind="$attrs" @click="emit('click')">
    <slot name="left-icon"></slot>
    <slot></slot>
    {{ text }}
    <slot name="right-icon"></slot>
  </button>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

button,
.button {
  background: transparent;
  box-shadow: none;
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  font-family: $font-family-base;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  line-height: 1;
  position: relative;
  height: fit-content;
  font-family: $font-family-base;
  color: black;

  &.secondary {
    background: transparent;
    font-weight: 500;
    color: #3950d1;
    box-shadow: inset 0 0 0 2px #445bdd;

    &.danger {
      box-shadow: inset 0 0 0 2px #ee4141;
      color: #ee4141;
    }

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.primary {
    background: #445bdd;
    color: white;

    &:hover,
    &:focus {
      background: #3445a5;
    }

    &.danger {
      color: white;
      background: #ee4141;

      &:hover {
        background: #ad2e2e;
      }
    }
  }

  &.small {
    padding: 8px 12px;
  }

  &.dashed {
    background: transparent;
    border: 2px dashed #cccccc;
    padding: 24px;

    &:hover,
    &:focus {
      background: transparent;
      border-color: #a9a9a9;
    }
  }

  &:hover,
  &.is-active {
    background: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }

  &.icon-button {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
