<script lang="ts" setup>
interface Props {
  href?: string;
  truncated?: boolean;
  size?: string;
  title?: string;
  description?: string;
  image?: string;
}

interface Emits {
  (event: 'navigate', href: string): void;
}

const emit = defineEmits<Emits>();

withDefaults(defineProps<Props>(), {
  href: '',
  truncated: false,
  size: '',
  title: '',
  description: '',
  image: '',
});
</script>

<template>
  <a
    v-if="href"
    class="dui card"
    :href="href"
    :class="{ 'card-truncated': truncated, size }"
    @click.prevent="emit('navigate', href)"
  >
    <img v-if="image" :src="image" :class="{ 'dui mb-16': title }" :alt="title" />
    <h3 v-if="title" class="dui" :class="{ 'mb-24': !description }">{{ title }}</h3>
    <p v-if="description">{{ description }}</p>
    <slot></slot>
  </a>

  <div v-else class="dui card" :class="{ 'card-truncated': truncated, size }">
    <img v-if="image" :src="image" :class="{ 'dui mb-16': title }" :alt="title" />
    <h3 v-if="title" class="dui" :class="{ 'mb-24': !description }">{{ title }}</h3>
    <p v-if="description">{{ description }}</p>
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 32px;
  position: relative;
  color: inherit;
  border: none;
  font-family: $font-family-base;
  background: white;

  &.large {
    width: 960px;
  }

  &.medium {
    width: 540px;
  }

  .edit-button {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &.card-truncated p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &.small {
    padding: 16px;
  }

  @media all and (max-width: 536px) {
    padding: 24px;
  }
}

a.card:hover {
  background-color: #f7f7f7;
}
a.card:hover,
a.card:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  background: white;
}

:global(.grid-offset-left .card) {
  &:nth-child(2) {
    grid-column: span 2;
  }
}
:global(ul .card) {
  @media all and (max-width: 536px) {
    padding-top: 56px;
  }
}
</style>
