<script lang="ts" setup>
import Card from './Card.vue';

interface Props {
  image?: string;
  imageAlt?: string;
  title?: string;
  description?: string;
}

withDefaults(defineProps<Props>(), {
  image: '',
  imageAlt: 'Empty state image',
  title: 'Nothing here',
  description: '',
});
</script>

<template>
  <Card>
    <div class="dui pb-80 pt-80 empty-state">
      <img :src="image" :alt="imageAlt" />
      <h2 class="dui">{{ title }}</h2>
      <p class="dui">{{ description }}</p>
    </div>
  </Card>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.empty-state {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: $font-family-base;

  img {
    margin-bottom: 24px;
    max-width: 200px;
    width: 200px;
  }

  h3 {
    text-align: center;
  }
}
</style>
