<script lang="ts" setup>
import { computed } from 'vue';
import { PhImage } from '@phosphor-icons/vue';

interface Props {
  cover?: boolean;
  iconSize?: string;
  width?: string;
  height?: string;
}

const props = withDefaults(defineProps<Props>(), {
  cover: false,
  iconSize: '1x',
  width: '',
  height: '',
});

const style = computed(() => {
  return !props.cover
    ? {
        width: props.width,
        height: props.height,
      }
    : undefined;
});
</script>

<template>
  <div class="image-fallback" :class="{ cover }" :style="style">
    <PhImage :size="iconSize" />
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.image-fallback {
  background-color: lighten(gray, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-base;

  &.cover {
    width: 100%;
    height: 100%;
  }

  .feather-image {
    color: lighten(gray, 32);
  }
}
</style>
