<script lang="ts" setup>
interface Props {
  id?: string;
  type?: 'text' | 'number' | 'email' | 'password' | 'radio';
  label: string;
  name: string;
  required?: boolean;
  autofocus?: boolean;
  readonly?: boolean;
  modelValue?: string | number;
}

interface Emits {
  (event: 'update:modelValue', value: Props['modelValue']): void;
}

const emit = defineEmits<Emits>();

const props = withDefaults(defineProps<Props>(), {
  type: 'text',
  value: '',
  id: '',
  required: false,
  autofocus: false,
  readonly: false,
  modelValue: '',
});

function onInput(e: Event) {
  const originalInputValue = (e.target as HTMLInputElement).value.trim();
  const value = props.type === 'number' ? parseFloat(originalInputValue) : originalInputValue;
  emit('update:modelValue', value);
}
</script>

<template>
  <div class="form-group">
    <label v-if="type !== 'radio'" :for="name">{{ label }}</label>
    <input
      :name="name"
      :type="type"
      :id="id"
      ref="input"
      v-bind="$attrs"
      :autofocus="autofocus"
      :required="required"
      :readonly="readonly"
      :value="props.modelValue"
      @input="onInput"
    />
    <label v-if="type === 'radio'" :for="name">{{ label }}</label>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.form-group {
  width: 100%;
  display: grid;
  font-family: $font-family-base;
}

label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #828282;
  line-height: 1;
  font-family: $font-family-base;
}

input {
  &:not([type='radio']),
  &:not([type='file']) {
    width: 100%;
    font-size: inherit;
    font-family: $font-family-base;
    outline: 0;
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 6px;
    padding: 12px;
    margin-top: 4px;
    background: none;
    color: inherit;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }

  &:read-only {
    cursor: not-allowed;
  }

  &.is-error {
    border-color: red;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
</style>
