<script lang="ts" setup>
import Divider from './Divider.vue';
</script>

<template>
  <div class="left-nav">
    <slot></slot>
    <Divider />
    <slot name="more-links"></slot>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.left-nav {
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex-shrink: 0;
  background: white;
  width: 240px;
  height: calc(100vh - 56px);
  z-index: 1;
  font-family: $font-family-base;

  :deep(.divider) {
    @media all and (max-width: 1000px) {
      display: none;
    }
  }

  a {
    padding: 12px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 6px;
    color: #777;
    text-decoration: none;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &.nuxt-link-exact-active {
      color: black;
    }
  }

  @media all and (max-width: 1000px) {
    flex-direction: row;
    width: 100%;
    padding: 8px;
    height: fit-content;
    margin: 0;

    a {
      margin: 0;
    }
  }
}
</style>
