<script lang="ts" setup>
import { PhCircleNotch } from '@phosphor-icons/vue';
</script>

<template>
  <PhCircleNotch size="24px" class="loading-icon" />
</template>

<style scoped lang="scss">
.loading-icon {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: loading 0.4s linear infinite;
  stroke: green;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
</style>
