<script lang="ts" setup>
interface Props {
  href: string;
  alt: string;
  imgSrc: string;
}

const emit = defineEmits(['click']);

defineProps<Props>();
</script>

<template>
  <a :href="href" class="dui logo" @click.prevent="emit('click')">
    <img :src="imgSrc" class="logo" :alt="alt" />
  </a>
</template>

<style scoped lang="scss">
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 8px 0;

  h4 {
    font-size: 14px;
    letter-spacing: 0.4em;
    color: black;
  }

  picture,
  img {
    height: 100%;
  }
}
</style>
