<script lang="ts" setup>
import { PhX } from '@phosphor-icons/vue';
import Spinner from './Spinner.vue';

interface Props {
  actions?: {
    primary?: {
      variant?: string;
      text: string;
    };
    secondary?: {
      variant?: string;
      text: string;
    };
  };
  title: string;
  noClose?: boolean;
  size?: string;
  loading?: boolean;
  loadingMessage?: string;
}

interface Emits {
  (event: 'primary'): void;
  (event: 'secondary'): void;
  (event: 'close'): void;
}

const emit = defineEmits<Emits>();

withDefaults(defineProps<Props>(), {
  actions: () => ({
    primary: {
      variant: 'primary',
      text: '',
    },
    secondary: {
      variant: 'secondary',
      text: '',
    },
  }),
  title: '',
  size: '',
  noClose: false,
  loading: false,
  loadingMessage: 'Loading...',
});
</script>

<template>
  <div
    class="lightbox"
    role="dialog"
    aria-labelledby="modalTitle"
    aria-describedby="modalDescription"
  >
    <div class="lightbox-modal" :class="size">
      <div v-if="loading" class="loading">
        <Spinner color="#4b5563" size="50px" />
        <p>{{ loadingMessage }}</p>
      </div>

      <div class="dui display-flex align-items-center justify-content-space-between w-100 mb-16">
        <h3 v-if="title" id="modalTitle" class="dui m-0">{{ title }}</h3>
        <Button v-if="!noClose" @click="emit('close')" class="icon-button">
          <PhX size="24" />
        </Button>
      </div>
      <div class="dui mt-24 mb-32" id="modalDescription">
        <slot></slot>
      </div>
      <div
        v-if="actions"
        class="actions dui display-flex align-items-center justify-content-flex-end"
      >
        <Button
          v-if="actions.primary"
          :variant="actions.primary.variant ? actions.primary.variant : 'primary'"
          :text="actions.primary.text"
          @click="emit('primary')"
        />
        <Button
          v-if="actions.secondary"
          class="dui ml-16"
          :variant="actions.secondary.variant ? actions.secondary.variant : 'secondary'"
          :text="actions.secondary.text"
          @click="emit('secondary')"
        />
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow-y: scroll;
  width: 100vw;
  font-family: $font-family-base;
  background: rgba(0, 0, 0, 0.8);

  #notes-wrapper label {
    display: block;
  }

  #notes-wrapper textarea {
    height: 200px !important;
    max-width: 100%;
    resize: none;
  }

  .lightbox-modal {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 700px;
    padding: 24px;
    border-radius: 6px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: white;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin-top: 48px;
      }
    }

    &.wide {
      max-width: 750px;
    }
  }

  @media all and (max-width: 536px) {
    align-items: flex-start;
  }
}
</style>

<!--
How to use in production:

<Modal
  v-show="showModal"
  title="Test title"
  :actions="actions" (Contains button text and variants)
  @primary="primaryMethod"
  @close="closeMethod"
/>
-->
