<script lang="ts">
import { PhDotsThree } from '@phosphor-icons/vue';

export default {
  components: {
    PhDotsThree,
  },
  props: {
    signedIn: {
      type: Boolean,
      default: false,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      menuOpen: false,
    };
  },
  mounted() {
    window.addEventListener('click', this.closeMenu);
  },
  beforeUnmount() {
    window.removeEventListener('click', this.closeMenu);
  },
  methods: {
    toggleMenu() {
      this.menuOpen = !this.menuOpen;
    },
    closeMenu(e: Event) {
      if (!this.$el.contains(e.target)) {
        this.menuOpen = false;
      }
    },
  },
};
</script>

<template>
  <header>
    <slot></slot>

    <nav class="dui">
      <Button v-if="!signedIn" href="/sign_in" text="Sign in" />
      <div v-else class="dui display-flex align-items-center">
        <div class="dropdown-container nav-item">
          <Button
            class="dropdown-button button icon-button"
            :class="{ 'is-active': menuOpen }"
            @click="toggleMenu"
          >
            <PhDotsThree size="24" />
          </Button>
          <div v-if="menuOpen" class="dropdown-menu dropdown-menu-right">
            <Button v-if="isAdmin" href="/admin" class="dropdown-item" text="Admin" />
            <Button class="dropdown-item" @click="$emit('logout')" text="Logout" />
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 36px;
  z-index: 1000;
  border-bottom: 1px solid #f1f1f1;
  background: white;
  font-family: $font-family-base;

  @media all and (max-width: 536px) {
    padding: 8px;
  }
}

nav {
  display: flex;
  align-items: center;
  font-family: $font-family-base;

  .nav-item:not(.dropdown-container) {
    padding: 12px;
    border-radius: 6px;
    margin-right: 8px;
    opacity: 0.6;

    &.nuxt-link-active {
      opacity: 1;
    }
  }
}

.dropdown-container {
  position: relative;
  z-index: 1000;

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    border-radius: 6px;
    border: none;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    .dropdown-item {
      width: 100%;
      text-align: left;
      justify-content: flex-start;
      padding: 12px 16px;
      color: black;

      &:hover {
        background: #f1f1f1;
      }
    }
  }
}
</style>
