<script lang="ts" setup>
import { computed } from 'vue';
import { format } from 'date-fns';
import Select from './Select.vue';

interface Props {
  isAdmin: boolean;
  id: string;
  customer: string;
  date: string;
  assignee: string;
  link: string;
  trackingNumber: string;
  product: {
    thumbnail: string;
    name: string;
  };
  pickupRequest: {
    pickupWindow?: {
      startAt: string;
      endAt: string;
    };
  };
  location: {
    cityLocality: string;
    stateProvince: string;
  };
  users: Array<{
    id: string;
    name: string;
  }>;
}

interface Emits {
  (event: 'change', payload: { userId: string; orderId: string }): void;
  (event: 'navigate', payload: { link: string }): void;
}

const emit = defineEmits<Emits>();

const props = withDefaults(defineProps<Props>(), {
  isAdmin: false,
  id: '',
  customer: '',
  link: '',
  date: '',
  assignee: '',
  trackingNumber: '',
  users: () => [],
  pickupRequest: () => ({}),
  location: () => ({
    cityLocality: '',
    stateProvince: '',
  }),
  product: () => ({
    thumbnail: '',
    name: '',
  }),
});

const assigneeObject = computed(() => {
  return props.users.filter((obj) => {
    return obj.id === props.assignee;
  });
});
</script>

<template>
  <tr>
    <td class="customer-cell">
      <a
        :href="link"
        class="dui display-flex flex-direction-column"
        @click.prevent="emit('navigate', { link })"
      >
        <th class="mobile-header">Customer</th>
        {{ customer }}
        <span class="customer-location">
          {{ location.cityLocality }}, {{ location.stateProvince }}
        </span>
      </a>
    </td>
    <td class="dui order-products w-100">
      <a
        :href="link"
        class="dui display-flex flex-direction-column"
        @click.prevent="emit('navigate', { link })"
      >
        <th class="mobile-header">Product</th>
        <div class="dui display-flex align-items-center order-product order-product-static">
          <img
            v-if="product.thumbnail"
            :src="product.thumbnail"
            :alt="product.name + 'thumbnail'"
          />
          {{ product.name }}
        </div>
      </a>
    </td>
    <td v-if="trackingNumber">
      <a :href="link" class="dui no-wrap" @click.prevent="emit('navigate', { link })">
        <th class="mobile-header">Tracking number</th>
        {{ trackingNumber }}
      </a>
    </td>
    <td>
      <a :href="link" class="dui no-wrap" @click.prevent="emit('navigate', { link })">
        <th class="mobile-header">Order date</th>
        {{ format(new Date(date), 'L-d-yy') }}
      </a>
    </td>
    <td v-if="pickupRequest.pickupWindow">
      <a
        :href="link"
        class="dui display-flex flex-direction-column no-wrap"
        @click.prevent="emit('navigate', { link })"
      >
        <th class="mobile-header">Pickup date</th>
        {{ format(new Date(pickupRequest.pickupWindow.startAt), 'L-d-yy') }}
        <span class="customer-location">
          {{ format(new Date(pickupRequest.pickupWindow.startAt), 'hbbb') }} -
          {{ format(new Date(pickupRequest.pickupWindow.endAt), 'hbbb') }}
        </span>
      </a>
    </td>
    <td v-if="isAdmin">
      <a
        v-if="trackingNumber"
        :href="link"
        class="dui display-flex flex-direction-column no-wrap"
        @click.prevent="emit('navigate', { link })"
      >
        <th class="mobile-header">Assignee</th>
        <p class="dui m-0">{{ assigneeObject[0].name }}</p>
      </a>
      <div v-else class="assignee-block">
        <th class="mobile-header">Assignee</th>
        <Select
          v-if="!trackingNumber"
          :id="id"
          :options="users"
          :value="assignee"
          placeholder="Select an assignee"
          @input="(userId) => emit('change', { userId: userId!, orderId: id })"
        />
      </div>
    </td>
  </tr>
</template>
