<script lang="ts" setup>
import { computed } from 'vue';
import ImageFallback from './ImageFallback.vue';

interface Props {
  variant: {
    thumbnail: string;
    name: string;
    sku: string;
    dimensions: {
      length: number;
      width: number;
      height: number;
    };
    weight: {
      value: number;
    };
    payout: {
      fee: number;
    };
  };
  isAdmin?: boolean;
}

interface Emits {
  (event: 'input', value: Props['variant']): void;
}

const emit = defineEmits<Emits>();

const props = withDefaults(defineProps<Props>(), {
  isAdmin: false,
});

const currentVariant = computed({
  get() {
    return props.variant;
  },
  set(val) {
    emit('input', val);
  },
});
</script>

<template>
  <tr class="product-variant">
    <td class="max" style="gap: 16px">
      <div class="dui display-flex align-items-center" style="gap: 16px">
        <img
          v-if="currentVariant.thumbnail"
          :src="currentVariant.thumbnail"
          :alt="currentVariant.thumbnail + ' thumbnail'"
        />
        <ImageFallback
          v-else
          width="70px"
          height="70px"
          icon-size="2x"
          style="border-radius: 6px"
        />
        <div>
          <p class="dui m-0" style="font-weight: bold; font-size: 18px">
            {{ currentVariant.name }}
          </p>
          <p class="dui m-0 text-sm text-color-gray">SKU: {{ currentVariant.sku || 'N/A' }}</p>
        </div>
      </div>
    </td>

    <td class="dimensions">
      <div class="dui display-flex" style="gap: 8px">
        <Input
          id="product-length"
          name="product-length"
          type="number"
          label="L"
          :readonly="!isAdmin"
          v-model="currentVariant.dimensions.length"
        />
        <Input
          id="product-width"
          name="product-width"
          type="number"
          label="W"
          :readonly="!isAdmin"
          v-model="currentVariant.dimensions.width"
        />
        <Input
          id="product-height"
          name="product-height"
          type="number"
          label="H"
          :readonly="!isAdmin"
          v-model="currentVariant.dimensions.height"
        />
      </div>
    </td>

    <td class="weight" style="vertical-align: bottom">
      <Input
        type="number"
        aria-label="total shipping weight"
        name="shippingWeight"
        label="lbs"
        :readonly="!isAdmin"
        v-model="currentVariant.weight.value"
      />
    </td>

    <td class="fees" style="vertical-align: bottom">
      <Input
        type="number"
        aria-label="fee paid to makers"
        name="makersFee"
        label="$"
        :readonly="!isAdmin"
        v-model="currentVariant.payout.fee"
      />
    </td>
  </tr>
</template>
