<script lang="ts" setup>
interface Props {
  value: number;
  max: number;
}

defineProps<Props>();
</script>

<template>
  <div class="dui w-100">
    <progress :value="value" :max="max"></progress>
  </div>
</template>

<style scoped lang="scss">
progress {
  &[value]::-webkit-progress-value {
    background: #3c64e7;
  }

  &[value]::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0.1);
  }
}
</style>
