<script lang="ts" setup>
import { computed } from 'vue';

interface Props {
  id: string;
  label?: string;
  name?: string;
  placeholder?: string;
  value?: string;
  options?: Array<{ id: string; name: string }>;
}

interface Emits {
  (event: 'input', value: Props['value']): void;
}

const emit = defineEmits<Emits>();

const props = withDefaults(defineProps<Props>(), {
  label: '',
  name: '',
  placeholder: 'Select one',
  value: '',
  options: () => [],
});

const currentValue = computed({
  get() {
    return props.value;
  },
  set(val) {
    emit('input', val);
  },
});
</script>

<template>
  <div class="dui select">
    <label :for="id">{{ label }}</label>
    <select v-model="currentValue" class="dui w-100" :name="id" :id="id" v-bind="$attrs">
      <option value="" disabled hidden>{{ placeholder }}</option>
      <option v-for="option in options" :value="option.id" v-bind:key="option.id">
        {{ option.name }}
      </option>
    </select>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 6px;
  padding: 16px;
  font-size: 1em;
  position: relative;
  min-width: 210px;
  font-family: $font-family-base;
  border-color: #c2c2c2;
  color: black;

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}
</style>
