<script lang="ts" setup>
interface Props {
  size?: string;
  color?: string;
}

withDefaults(defineProps<Props>(), {
  size: '20px',
  color: 'white',
});
</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    :style="`width: ${size}; height: ${size}; color: ${color}`"
    class="spinner"
  >
    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" />
    <path
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    />
  </svg>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.spinner {
  animation: Spin 1s linear infinite;
  font-family: $font-family-base;

  circle {
    opacity: 0.25;
  }

  path {
    opacity: 0.75;
  }
}
</style>
