<script lang="ts" setup>
// @ts-ignore
import vAutoGrow from '../directives/v-autogrow.ts';

interface Props {
  name: string;
  label?: string;
  value?: string;
  modelValue: string;
}

interface Emits {
  (event: 'update:modelValue', value: string): void;
}

const emit = defineEmits<Emits>();

withDefaults(defineProps<Props>(), {
  label: '',
  value: '',
  modelValue: '',
});

function onInput(e: Event) {
  const input = e.target as HTMLInputElement;
  emit('update:modelValue', input.value);
}
</script>

<template>
  <div>
    <label :for="name">{{ label }}</label>
    <textarea
      class="dui"
      ref="input"
      v-bind="$attrs"
      :id="name"
      :name="name"
      :value="modelValue"
      @input="onInput"
      v-auto-grow
    ></textarea>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #828282;
  line-height: 1;
  font-family: $font-family-base;
}

textarea {
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  margin-top: 4px;
  outline: 0;
  background: none;
  color: inherit;
  font-family: $font-family-base;
  font-size: inherit;
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  line-height: 1.6em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
</style>

<!--
Usage:

<Textarea
  v-model="description"
  name="description"
  label="Description"
/>
-->
