<script lang="ts" setup>
interface Props {
  text: string;
}

defineProps<Props>();
</script>

<template>
  <div class="toast animate-in" role="alert">{{ text }}</div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.toast {
  position: fixed;
  z-index: 1000;
  left: 40px;
  bottom: 40px;
  background: black;
  color: white;
  padding: 16px;
  border-radius: 6px;
  font-family: $font-family-base;
}
</style>
