<script lang="ts" setup>
interface Props {
  label: string;
  modelValue: boolean;
}

interface Emits {
  (event: 'update:modelValue', value: boolean): void;
}

const emit = defineEmits<Emits>();

defineProps<Props>();
</script>

<template>
  <div class="toggle">
    <label class="toggle-label">{{ label }}</label>
    <button
      type="button"
      role="switch"
      :aria-checked="modelValue"
      :aria-label="label"
      class="dui"
      :class="{
        'toggle-button': true,
        'is-checked': modelValue,
      }"
      @click.prevent="emit('update:modelValue', !modelValue)"
    />
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.toggle {
  display: flex;
  align-items: center;
  font-family: $font-family-base;

  .toggle-label {
    font-size: 1em;
    color: inherit;
    margin: 0;
  }

  .toggle-button {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 8px;
    width: 42px;
    height: 24px;
    border-radius: 1000px;
    position: relative;
    transition: 0.4s cubic-bezier(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.2);

    &::after {
      content: '';
      height: 20px;
      width: 20px;
      background: white;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 1000px;
      transition: 0.4s cubic-bezier(0, 0, 0, 1);
    }

    &.is-checked {
      background-color: #00a651;

      &::after {
        left: calc(100% - 22px);
      }
    }
  }
}
</style>
