<script lang="ts" setup>
interface Props {
  text: string;
}

defineProps<Props>();
</script>

<template>
  <div class="tooltip">{{ text }}</div>
</template>

<style scoped lang="scss">
@import '../assets/css/variables.scss';

.tooltip {
  position: absolute;
  bottom: calc(100% + 4px);
  background: black;
  color: white;
  padding: 12px;
  border-radius: 6px;
  max-width: 100px;
  font-family: $font-family-base;
}
</style>
