<script lang="ts" setup>
interface Props {
  src: string;
}

defineProps<Props>();
</script>

<template>
  <iframe
    class="video"
    :src="src"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</template>

<style scoped lang="scss">
.video {
  width: 100%;
  height: 485px;

  @media all and (max-width: 1536px) {
    height: 420px;
  }

  @media all and (max-width: 536px) {
    height: 320px;
  }
}
</style>
